/* PAGE */
.baby-page {
  font-family: "Poppins", sans-serif;
  color: #691919;
}

/* HERO */
.baby-hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* OVERLAY */
.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  color: rgb(27, 24, 24);
}

.hero-overlay h1 {
  font-size: 70px;
  font-weight: 700;
}

.hero-overlay p {
  font-size: 22px;
  max-width: 500px;
}

/* CONTENT */
.baby-content {
  padding: 100px 14%;
  text-align: center;
  background: linear-gradient(to bottom, #101d5a, #181250);
  animation: fadeUp 1.2s ease forwards;
}

/* small premium tagline */
.baby-tagline {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 3px;
  color: #c58b8b;
  margin-bottom: 12px;
  text-transform: uppercase;
}

/* heading */
.baby-content h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  color: #f5f3f3;
}

/* paragraph */
.baby-content p {
  font-size: 18px;
  color: #f8f3f3;
  max-width: 850px;
  margin: 0 auto 18px;
  line-height: 1.8;
}

/* subtle hover luxury effect */
.baby-content:hover h2 {
  letter-spacing: 1px;
  transition: 0.4s ease;
}

/* animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* responsive */
@media (max-width: 768px) {
  .baby-content h2 {
    font-size: 32px;
  }

  .baby-content p {
    font-size: 16px;
  }
}

/* GALLERY */
.baby-gallery {
  width: 100%;
  padding: 40px;
  columns: 4;
  column-gap: 20px;
}

.baby-gallery img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 18px;
  break-inside: avoid;
  transition: 0.4s ease;
  cursor: pointer;
}

.baby-gallery img:hover {
  transform: scale(1.04);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* CTA */
.baby-cta {
  background: linear-gradient(45deg, #423a3b, #fad0c4);
  padding: 80px 20px;
  text-align: center;
}

.baby-cta h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.baby-cta p {
  font-size: 18px;
  margin-bottom: 25px;
}

.baby-cta a {
  background: #fff;
  padding: 14px 35px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .baby-gallery {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 45px;
  }

  .baby-gallery {
    columns: 2;
  }
}

@media (max-width: 500px) {
  .baby-gallery {
    columns: 1;
  }
}
