.theme-toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  width: 60px;
  height: 30px;
  background: #ddd;
  border-radius: 50px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 4px;
}

.toggle-circle {
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 14px;
  transition: 0.4s ease;
}

.toggle-circle.move {
  transform: translateX(30px);
}

/* THEMES */
.light-theme {
  background: #fff;
  color: #111;
}

.dark-theme {
  background: #0e0e0e;
  color: #f5f5f5;
}
