/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(224, 216, 216, 0.7);
  /* backdrop-filter: blur(8px); */
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== LOGO ===== */
.logo-container {
  position: absolute;
  left: 60px;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.08);
}

.logo-text {
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: 3px;
  color: #c51414;
}

/* ===== NAV ===== */
.nav-center {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-center a,
.dropdown-title {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  cursor: pointer;
}

.nav-center a:hover,
.dropdown-title:hover {
  color: #f2c94c;
}

/* ===== DROPDOWN ===== */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  min-width: 220px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  border-radius: 8px;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu a {
  padding: 10px 20px;
  color: #333;
}

.dropdown-menu a:hover {
  background: #f5f5f5;
}

/* ===== RIGHT SIDE ACTIONS ===== *//* ===== HEADER RIGHT ACTIONS ===== */
.header-actions {
  position: absolute;
  padding-top: 3%;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;   
  gap: 12px;
  align-items: center;
}

.header-call,
.header-whatsapp {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  animation: pulse 2s infinite;
}

.header-call {
  background: #2ecc71;
}

.header-whatsapp {
  background: #25d366;
  animation-delay: 0.2s;
}
